{% extends "base.html" %}

{% block content %}

<div class="columns is-multiline is-mobile">
        <div class="column is-half">
          <h3 class="title" style="text-align: left;">Account Balance</h3>
        </div>
        <div class="column is-half">
          <p></p>
        </div>
        <div class="column is-half">
          <h3 class="title" style="text-align: left;">Acct# {{ account }}</h3>
        </div>
        <div class="column is-one-quarter">
          <h3 class="title">${{ balance }}</h3>
          </div>
        <div class="column is-one-quarter">
          <p></p>
        </div>
        <div class="column is-half">
          <p></p>
        </div>
        <div class="column is-half">
          <p></p>
        </div>

        <div class="column">
        </div>
      </div>
<form action="/profile">
    <button class="button is-block is-info is-large is-large is-centered">GO BACK</button>
</form>
{% endblock %}